@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Yomogi&display=swap');

h1 {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: #f2f2f2;
    align-content: center;
    padding-top: 20px;
    font-size: 55px;
    line-height: 75px;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right bottom, #3917ca, #352ad2, #3138d9, #2d44e0, #2b50e6, #1762f0, #0074f8, #0084ff, #009dff, #00b2ff, #0dc6ff, #5fd8fb);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar-container {
   display: block;
   padding-bottom: 20px; 
}

.navbar-top {
    float: right;
}

.navbar-top li {
    list-style: none;
    display: inline;
}

.navbar-container a {
    /* background-color: #3917ca; */
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    display: inline;
    
}
.navbar-container a:hover {
    background-color: #f2f2f2;
    color: #3917ca;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    background-color: white;
    color: #3917ca;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: white;
    margin: 15px;  
}

.btn:hover {
    background-color: #5fd8fb;
    color: white;
}
