@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Yomogi&display=swap');

h1 {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: #f2f2f2;
    align-content: center;
    padding-top: 20px;
    font-size: 55px;
    line-height: 75px;
    }

body {
    font-family: 'Yomogi', cursive;
    background-image: linear-gradient(to right bottom, #3917ca, #352ad2, #3138d9, #2d44e0, #2b50e6, #1762f0, #0074f8, #0084ff, #009dff, #00b2ff, #0dc6ff, #5fd8fb);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* Navbar styling */
.navbar-container {
   display: block;
   padding-bottom: 20px; 
}

.navbar-top {
    float: right;
}

.navbar-top li {
    list-style: none;
    display: inline;
}

.navbar-container a {
    /* background-color: #3917ca; */
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    display: inline;
    
}
.navbar-container a:hover {
    background-color: #f2f2f2;
    color: #3917ca;
}

/* Index.html main heading */
/* Code found https://tobiasahlin.com/moving-letters/#6 */
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* General content styling for entire website */
.title-container {
    margin: none;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    background-color: white;
    color: #3917ca;
    font-family: 'Yomogi', cursive;
    font-size: 20px;
    border: white;
    margin: 15px; 
    padding: 15px;
}

.btn:hover {
    background-color: #5fd8fb;
    color: white;
}

/* Styling for quiz game */
.question {
    font-size: 30px;
    font-family: 'Yomogi', cursive;
    color: white;
    text-align: center;
}

.answer-btn {
    font-family: 'Yomogi', cursive;
    text-align: center;
    color: white;
    background-color: #3917ca;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    width: 150px;
    border: solid 1px white;
}

.answer-btn:hover {
    background-color: white;
    color: #3917ca;
    border: solid 1pxs #3917ca;
}
/* Styling for rules page */
#rules-list {
    font-family: 'Yomogi', cursive;
    color: white;
    font-size: 20px;

}